{% extends 'flatpages/default.html' %} 
{% load static %}
{% load custom_tags %}

{% block title %}
Users
{% endblock title %}

{% block content %}
<!-- {% if request.user.username and request.user.id == ad.user_id %}
<div class="center" style="padding: 0; display: flex; justify-content: space-between;">
    <a href="/ads/{{review.pk}}/update"><h3>Изменить</h3></a>
    <h2>{{ ad.title }}</h2>
    <a href="/ads/{{ad.pk}}/delete"><h3>Удалить</h3></a>
</div>
{% else %}
<div class="center" style="padding: 0; display: flex; justify-content: space-between;">
    <h2>{{ ad.title }}</h2>
    <a href="/ads/{{ad.pk}}/review"><h3>Откликнуться</h3></a>
</div>
{% endif %} -->
<div style="background-color: aquamarine; margin: 10px 2px; padding: 0 4px 1px 4px;">
    <ul class="ads" style="display: block;">
        <div style="display: flex; justify-content: space-between;">
            {% if request.user.id != ad.user_id %}
                <h3>{{ review.id }}</h3>
            {% endif %}
        </div>
        <div class="block">
            <p>{{ review.text }}</p>
        </div>
    </ul>
</div>
{% endblock content %}