{% extends 'flatpages/default.html' %} 
{% load static %}
 
{% block title %}
Users
{% endblock title %}

{% block content %}
<form action="" method="post">
    <h2 class="center">Создание отзыва</h2>
    <div style="background-color: aquamarine; margin: 10px 2px; padding: 0 4px 1px 4px;">
        <ul class="ads" style="display: block;">
            
            <div style="display: flex; justify-content: space-between;">
                <h3>Расскажите о себе, оставьте свои контакты или поделитесь своим опытом:</h3>
                {% csrf_token %}
                <input type="submit" value="Отправить" / style="width: 100px; height: 40px;">
            </div>
            <div class="block">
                <p>Текст: {{ form.text }}</p>
            </div>
        </ul>
    </div>
</form>
{% endblock content %}